<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ACE</title>

   
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
	
<!--faculty-->
<link rel="stylesheet" type="text/css" href="/static/css/demo faculty.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/common faculty.css" />
        <link rel="stylesheet" type="text/css" href="/static/css/style2 faculty.css" />
	    <script type="text/javascript" src="/static/js/modernizr.custom.79639 faculty.js"></script> 
	    <script src="/static/js/getprofile.js"></script>
	
   
</head>

<body style="background-color:#f6f6f6;">

 
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"style="background:#1c2d3f;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
     <a class="navbar-brand" href="/" style="color:white;font-size:30px;position:absolute;left:7%;">ACE</a>
            </div>
          <style type="text/css">  
            .dropbtn {
    background-color:  #1c2d3f;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/*.dropdown:hover .dropbtn {*/
    /*background-color: #3e8e41;*/
}
</style>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- /.navbar-collapse -->


 <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1" >
           
            
               <ul class="nav navbar-nav"  style="padding-right:67px;font-size:1.0em;font-family:arial;" >
                    <li>
                        <a href="/" >HOME</a>
                    </li>
                    <li>
                        <a href="/academics/" >ACADEMICS</a>
                    </li>
                    <li>
                        <a href="/achievements/">ACHIEVEMENT</a>
                    </li>
          <li>
                        <a href="/announcement/" >ACTIVITIES</a>
                    </li><li>
                        <a href="/administration/" >ADMINISTRATION</a>
                    </li>
                    <li>
                        <a href="/contact/" >CONTACT_US</a>
                    </li>
                    <li id="profile">
                    </li>
          <li>
                        {{link2|safe}}
                    </li>
          
                </ul>
         </div>

          </div>
        <!-- /.container -->
    </nav>

		<div class="codrops-top">
		<br><br><br><br>
		<div class="container">
<div class="row">
    <div class="col-sm-4" >
			
			
			
			
        </div>
		
    <div class="col-sm-4" >
			<h1 style="text-align:center"><b>ADMINISTRATION</b></h1><HR>
			<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1">
						
							<div class="ch-info">
						
								<h3></h3><br><br>
								<p>Director <a href="#">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
				<p style="text-align:center;"><b>Dr. Sudarshan Tiwari</b></p>
			</section>
			
        </div>
	
    <div class="col-sm-4" >
			
		
			
        </div></div></div>
<div class="container">
<div class="row">
 <div class="col-sm-4" >
			
			
		<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-2">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>Registrar(Officiating)  <a href="#">View </a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Dr. P.Y.Dhekne</b></p>
			</section>
			
        </div>
    <div class="col-sm-4" >
			
			<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-3">
							<div class="ch-info">
								<h3></h3><br><br>
								<p> Dean (Faculty Welfare)  <a href="#">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Dr.Rawani</b></p>
			</section>
			
        </div>
		
    <div class="col-sm-4" >
			
			
				
			<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-4">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>Dean (Student Welfare)<a href="#">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Dr.Prabhat Diwan</b></p>
			</section>
			
			
        </div>
	
    </div></div>
		<div class="container">
<div class="row"><div class="col-sm-4" >
			
			
			<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-5">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>Professor & Dean(R&C)<a href="#">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>DR. SHUBHASHIS SANYAL</b></p>
			</section>
			
        </div>
    <div class="col-sm-4" >
			
			
				
			<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-6">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>Dean (Academics)<a href="#">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Shrish Verma</b></p>
			</section>
			
        </div>
		
    <div class="col-sm-4" >
			
			
			
			<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-7">
							<div class="ch-info">
								<h3>
</h3><br><br>
								<p>Dean (Planning & Development)<a href="#">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Dr.Gangadhar Ramtekkar</b></p>
			</section>
        </div>
	
   </div></div>
		<HR>
				<div class="container">
<div class="row">
    <div class="col-sm-4" >
			
			
	
        </div>
		
    <div class="col-sm-4" >
			
			
				<H1><p style="text-align:center;"><b>FACULTY</b></p></H1><HR>
		
        </div>
	
    <div class="col-sm-4" >
			
			
			<section class="main">
			
			
			
			</section>
			
        </div></div></div>
		
		
		
		
		<div class="container">
<div class="row">
    <div class="col-sm-4" >
			
			
		<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-8">
							<div class="ch-info">
								<h3></h3><BR><BR>
								<p>Assistant Professor CSE(HOD) <a href="/faculty_view/dssisodia.cs@nitrr.ac.in">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Dr.Dilip Singh Sisodia</b></p>
			</section>
        </div>
		
    <div class="col-sm-4" >
			
			
		
			<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-9">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>Assistant Professor<a href="/faculty_view/nknagwani.cs@nitrr. ac.in">View </a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Dr.Naresh Kumar Nagwani</b></p>
			</section>
        </div>
	
    <div class="col-sm-4" >
			
			
			<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-10">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>Assistant Professor <a href="/faculty_view/psingh.cs@nitrr.ac.in">View </a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Dr.Pradeep Singh</b></p>
			</section>
			
        </div></div></div><div class="container">
<div class="row">
    <div class="col-sm-4" >
			
			
				<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-11">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>Assistant Professor <a href="/faculty_view/asharaff.cs@nitrr.ac.in">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Mrs.Aakanksha Sharaff</b></p>
			</section>
			
        </div>
		
    <div class="col-sm-4" >
			
			
			
			<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-12">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>Assistant Professor<a href="/faculty_view/vanand.cs@nitrr.ac.in">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Ms.Veena Anand</b></p>
			</section>
        </div>
	
    <div class="col-sm-4" >
			
			
					
			<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-13">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>Assistant Professor<a href="/faculty_view/jmeena.cs@nitrr.ac.in">View </a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Mr.Jasraj Meena</b></p>
			</section>
			
        </div></div></div>
		<div class="container">
<div class="row">
    <div class="col-sm-4" >
			
			
				<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-14">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>Assistant Professor<a href="/faculty_view/mvardhan.cs@nitrr.ac.in">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Dr.Manu Vardhan</b></p>
			</section>
			
        </div>
		
    <div class="col-sm-4" >
			
			
				<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-15">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>Assistant Professor<a href="/faculty_view/stripathi.cs@nitrr.ac.in">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Dr.Sarsij Tripathi</b></p>
			</section>
			
        </div>
	
    <div class="col-sm-4" >
			
			
			<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-16">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>	Temporary Faculty<a href="/faculty_view/Alankrita.cs@gmail.com">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Ms.Alankrita Chaurasia</b></p>
			</section>
        </div></div></div><div class="container">
<div class="row">
    <div class="col-sm-4" >
			
			
				<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-17">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>	Temporary Faculty<a href="/faculty_view/Kumarkundan510@gmail.com">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Mr.Kundan kumar</b></p>
			</section>
			
        </div>
		
    <div class="col-sm-4" >
			
			
			<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-18">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>	Temporary Faculty<a href="/faculty_view/patelbharti27@gmail.com">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Ms.Bharati Patel</b></p>
			</section>
			
        </div>
	
    <div class="col-sm-4" >
			
			
					<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-19">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>	Temporary Faculty<a href="/faculty_view/ankita.choudhary04ja@gmail.com">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Ms.Ankita Choudhary</b></p>
			</section>
			
        </div></div></div>
		<div class="container">
<div class="row">
    <div class="col-sm-4" >
			
			
					<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-20">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>	Temporary Faculty <a href="/faculty_view/shashvat30@gmail.com">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Mr.Shashvat Sanadhya</b></p>
			</section>
        </div>
		
    <div class="col-sm-4" >
			
			
					<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-21">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>	Temporary Faculty <a href="/faculty_view/ajay.csengineer@gmail.com">View </a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Mr. Ajay Kumar Sahu</b></p>
			</section>
			
        </div>
	
    <div class="col-sm-4" >
			
			
			<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-22">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>	Temporary Faculty <a href="/faculty_view/vivekacse42@gmail.com">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Mr. Vivekanand Jha</b></p>
			</section>
        </div></div></div>
			<div class="container">
<div class="row">
    <div class="col-sm-4" >
			
			
	
        </div>
		
    <div class="col-sm-4" >
			
			
				<HR><H1><p style="text-align:center;"><b>STAFF</b></p></H1><HR>
		
        </div>
	
    <div class="col-sm-4" >
			
			
			<section class="main">
			
			
			
			</section>
			
        </div></div></div>
		<div class="container">
<div class="row">
    <div class="col-sm-4" >
			
			
					<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-31">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>	Sr. Lab. Assistant<a href="#">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Mr.Naveen Prakash Sharma</b></p>
			</section>
        </div>
		
    <div class="col-sm-4" >
			
			
					<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-23">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>	Technical Assistant<a href="#">View </a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Anjali Parate</b></p>
			</section>
			
        </div>
	
    <div class="col-sm-4" >
			
			
			<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-24">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>	Technical Assistant<a href="#">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Mr.Suraj Bhan</b></p>
			</section>
        </div></div></div><div class="container">
<div class="row">
    <div class="col-sm-4" >
			
			
					<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-25">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>	Technical Assistant<a href="#">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Mr.Bhupendra Sahu</b></p>
			</section>
        </div>
		
    <div class="col-sm-4" >
			
			
					<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-26">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>	Assistant Grade-II <a href="#">View </a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Mr.Rama Shankar Vastrakar</b></p>
			</section>
			
        </div>
	
    <div class="col-sm-4" >
			
			
			<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-27">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>	Lab. Attendant<a href="#">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Mr.Chitrakant Sen</b></p>
			</section>
        </div></div></div>
		<div class="container">
<div class="row">
    <div class="col-sm-4" >
			
			
					<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-28">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>Lab. Attendant<a href="#">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Mr.Sagar Sahu</b></p>
			</section>
        </div>
		
    <div class="col-sm-4" >
			
			
					<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-29">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>	Lab. Attendant<a href="#">View </a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Mr.Abitab Sharma</b></p>
			</section>
			
        </div>
	
    <div class="col-sm-4" >
			
			
			<section class="main">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-30">
							<div class="ch-info">
								<h3></h3><br><br>
								<p>Office Assistant Grade-IV<a href="#">View</a></p>
							</div>
						</div>
					</li>
					
				</ul>
					<p style="text-align:center;"><b>Mrs.Jambuvati Bagh</b></p>
			</section>
        </div></div></div>
		</div>
	<br><br><br> 
	
{% include "base_foot.html" %}	
</body>

</html>
