<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>ACE</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
	

    
		<link rel="stylesheet" type="text/css" href="/static/css/jquery.jscrollpane.custom academics.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/bookblock academics.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/custom academics.css" />
		<script src="/static/js/modernizr.custom.79639 academics.js"></script>
	</head>
	<body>
   <!-- Navigation --><div style="font-size: 1.6em;">
    		  {% include "base_head.html" %}
{% block content %}
</div>
	<br><br><br>
		
		<div id="container" class="container">	

			<div class="menu-panel"style="background:#1c2d3f;">
			
				<ul id="menu-toc" class="menu-toc">
					<li class="menu-toc-current"><a href="#item1" style="background:#1c2d3f;">COURSES OFFERED</a></li>
					<li><a href="#item2" style="background:#1c2d3f;">BTECH EVALUATION</a></li>
					<li><a href="#item3" style="background:#1c2d3f;">ACADEMIC CALENDER</a></li>
				<li><a href="#item4" style="background:#1c2d3f;">PROJECT</a></li>
			
				</ul>
				
			</div>

			<div class="bb-custom-wrapper">
				<div id="bb-bookblock" class="bb-bookblock">
					<div class="bb-item" id="item1">
						<div class="content" >
							<div class="scroller">
								<h2>COURSES OFFERED</h2><BR>
								<H3><U>BTECH</U></H3>
								<p >Each semester  comprises of certian number of subjects.Categorization of each semester in terms of  its subjects is as follows:</p>

								<p><B style="font-size:18px;"><U><b>I SEMESTER:</b></u></b><br>
Subjects covered under this semester:<br>
<u>Engineering Graphics:</u> Engineering Graphics and Design is a combination of lines,
 symbols and signs used to render services and design processes and systems that contribute towards economic growth and enhanced quality of life.<br>
<u>Basic Civil & Mechanical Engineering:</u> It is the discipline that applies the principles of engineering, physics, and materials science for the design, analysis, manufacturing, and maintenance of mechanical systems.<br>
<u>Environment & Ecology:</u>It  includes the study of interactions organisms have with each other, other organisms, and with abiotic components of their environment.<br>
<u>Basic Electronics: </u>Electronics deals with electrical circuits that involve active electrical components such as vacuum tubes, transistors, diodes, integrated circuits, associated passive electrical components, and interconnection technologies. Commonly, electronic devices contain circuitry consisting primarily or exclusively of active semiconductors supplemented with passive elements.<br>
<u>Applied Maths-II: </u>Applied mathematics is a branch of mathematics that deals with mathematical methods that find use in science, engineering, business, computer science, and industry.<br>
<u>Computer Fundamentals & Information Technolgy:</u>Computer Fundamentals  covers a foundational understanding of computer hardware, software, operating systems, peripherals etc along with how to get the most value and impact from computer technology.<br>

</p>

						<p><U>Labs Included In This Semester:</u><br>
1.	Engineering Graphics lab<br>
2.	Environment & Ecology lab<br>
3.	Engineering Mechanics Lab<br>
4.	Computer Fundamentals & Information Technolgy Lab<br>
5.	Basic Electronics Lab.<br>
6.	Health/Hygiene & Yoga<br>


						</p>	
<p><B style="font-size:18px;"><U><b>II SEMESTER:</b></u></b><br>
Subjects included in this semester:<br>
<u>Applied Chemistry:</u>It teaches  the application of the study of chemical elements and compounds to industry and the arts. <br>
<u>Applied  Physics: </u>Applied physics is physics which is intended for a particular technological or practical use. It is usually considered as a bridge or a connection between physics and engineering.<br>
<u>Basic Electrical Engineering:</u>It is a field of engineering that generally deals with the study and application of electricity, electronics, and electromagnetism.<br>
<u>Engineering Mechanics: </u>The goal of this Engineering Mechanics course is to expose students to problems in mechanics as applied to plausibly real-world scenarios.<br>
<u>Language(Professional Communication in English):</u>It examines how messages are interpreted through the political, cultural, economic, semiotic, hermeneutic, and social dimensions of their contexts.<br>
<u>Applied Maths-I: </u>Applied mathematics is a branch of mathematics that deals with mathematical methods that find use in science, engineering, business, computer science, and industry.<br>



</p>
<p><U>Labs Included In This Semester:</u><br>
1.Chemistry Lab<br>
2.Physics Lab<br>
3.Engineering Mechanics Lab<br>
4.Basic Electrical Lab<br>
5.Workshop.<br>
6.Communication Skills(lecture sessions)<br></p>
<p><B style="font-size:18px;"><U><b>III SEMESTER:</b></u></b><br>

Subjects included in this semester:<br>
<u>Computational Mathematics: </u>Computational mathematics involves mathematical research in areas of science where computing plays a central and essential role, emphasizing algorithms, numerical methods, and symbolic computations<br>
<u>Digital Logic & Design:</u>This course provides you the knowledge that facilitates the design of electronic circuits that convey information, including logic gates with functions that include AND, OR, and NOT commands. 
The value system translates input signals into specific output. These functions facilitate computing, robotics, and other electronic applications.<br>
<u>Principles Of Management:</u>The Principles of Management teaches the essential, underlying factors that form the foundations of successful management.<br>
<u>Mathematics-III:</u>This course teaches some higher level mathematical principles including their implementation.<br>
<u>Computer Fundamentals:</u>It deals with basic components of computer with their workings and principles.<br>
<u>Problem Solving & Logic Building Using C:</u>It deals with the concept of c concepts and their implementation in logic building.<br>

	</p><p><U>Labs included in this semester:</u><br>
1.	Digital Logic & Design lab<br>
2.	Problem Solving & Logic Building Using C lab<br>
3.	Programming Lab<br>
4.	Value Education(lecture sessions)<br>
5.	Discipline(evaluation on the basis of daily behavior of students.)<br></p>





<p><B style="font-size:18px;"><U><b>IV SEMESTER:</b></u></b><br>
Subjects included in this semester:<br>

<u>Micro Processor & Interface:</u>It deals with basic components and working of different microprocessors.<br>

<u>Data  Structure:</u>It teaches the ways  of organizing data in a computer so that it can be used efficiently.<br>

<u>Discrete Structure:</u>Theoretical computer science includes areas of discrete mathematics relevant to computing. It draws heavily on graph theory and mathematical logic. Included within theoretical computer science is the study of algorithms for computing mathematical results.<br>

<u>Computer System And Architecture:</u>Computer architecture  teachesthe fundamentals of its architecture and its uses in system design.<br>

<u>Object Oriented Concepts & Programming using C++:</u>C++ and Object Oriented Programming. Object Oriented programming is a programming style that is associated with the concept of Class, Objects and various other concepts revovling around these two, like Inheritance, Polymorphism, Abstraction, Encapsulation etc.<br>


<u>Principles Of Communication System:</u>This course covers fundamental concepts of communication systems, which are essential for the understanding of advanced courses in digital/ wireless communication systems.<br>

	</p><p><U>Labs Included in this semester:</u><br>
1.Micro processor &Interface lab<br>
2.Data structure lab<br>
3. Object Oriented Concepts & Programming using C++ lab<br>
4.Personality Development(lecture sessions)<br>
5.Discipline<br></p>


<p><B style="font-size:18px;"><U><b>V SEMESTER:</b></u></b><br>
Subjects included in this semester:<br>

<u>Operating System:</u>It deals with the  knowledge of fundamentals of operating system.

<u>Data Base Management System:</u> A database management system (DBMS) is system software for creating and managing databases. The DBMS provides users and programmers with a systematic way to create, retrieve, update and manage data.<br>
<u>Computer  Graphics  & Multimedia:</u>It teaches  the use of the computer to present and combine text,graphics, audio and video with links and tools that lets the user to navigate,interact, create and communicate.<br>
<u>Data Communication: </u>Data communications refers to the transmission of this digital data between two or more computers and a computer network or data network is a telecommunications network that allows computers to exchange data.<br>
<u>Theory Of Computation:</u>The theory of computation is the branch that deals with how efficiently problems can be solved on a model of computation, using an algorithm.<br>
<u>Operations  Research:</u>It  is a discipline that deals with the application of advanced analytical methods to help make better decisions. The terms management science and analytics are sometimes used as synonyms for operations research.<br>
	</p><p><U>Labs included in this semester:</u><br>
1. Operating System (Lab)<br>
2.Data Base Management System(Lab)<br>
3.Computer Graphics & Multimedia (Lab)<br>
4.Humanities(lecture session)<br>

5.Managerial skill(interactive session)<br>

6.Technical Visit/Practical  Training(interactive session)<br></p>


 <p><B style="font-size:18px;"><U><b>VI SEMESTER:</b></u></b><br>
Subjects included in this semester are:<br>

<u>Analysis & Design of Algorithms:</u> Introduction to fundamental techniques for designing and analyzing algorithms, including asymptotic analysis; divide-and-conquer algorithms and recurrences; greedy algorithms; data structures; dynamic programming; graph algorithms; and randomized algorithms.<br>

<u>Computer Network:</u>A computer network is a set of computers connected together for the purpose of sharing resources. The most common resource shared today is connection to the Internet. Other shared resources can include a printer or a file server.<br>

<u>Unix & Shell Programming:</u> A Unix shell is a command-line interpreter or shell that provides a traditional Unix-like command line user interface. Users direct the operation of the computer by entering commands as text for a command line interpreter to execute,
 or by creating text scripts of one or more such commands. Users typically interact with a Unix shell using a terminal emulator, however, direct operation via serial hardware connections, or networking session, are common for server systems.<br>

<u>Software Engineering:</u>Software engineering is a field of engineering, for designing and writing programs for computers or other electronic devices. A software engineer, or programmer, writes software (or changes existing software) and compiles software using methods that make it better quality.<br>

<u>Compiler Design: </u>Compiler design principles provide an in-depth view of translation and optimization process. Compiler design covers basic translation mechanism and error detection & recovery. It includes lexical, syntax, and semantic analysis as front end, and code generation and optimization as back-end.<br>

<u>Parallel Processor & Computing:</u>In computers, parallel processing is the processing of program instructions by dividing them among multiple processors with the objective of running a program in less time. In the earliest computers, only one program ran at a time.<br>

	</p><p><U>Labs included in this semester:</u><br>
1.Analysis & Design of Algorithms(Lab)<br>

2. Computer Network(Lab)   <br>
3. Unix & Shell Programming(Lab)<br>
4.I & E Skill<br>
5.Discipline<br></p>











<p><B style="font-size:18px;"><U><b>VII  SEMESTER</b></u></B><br>
Subjects included in this semester:<br>
<b><u>Artificial Intelligence & Expert System:</u></b> In artificial intelligence, an expert system is a computer system that emulates the decision-making ability of a human expert.[1] Expert systems are designed to solve complex problems by reasoning about knowledge, represented mainly as if-then rules rather than through conventional procedural code.<br>
<b><u>Network Programming:</u></b> Computer network programming involves writing computer programs that enable processes to communicate with each other across a computer network.<br>
<b><u>Elective-I & Elective -II:</u></b>It includes digital image processing,logical and functional processing,advanced computer architecture,advanced operating topics and some flexible topics would be  decided by the subject teachers.<br>
	</p><p><B><U>Labs included in this semester:</u></B><br>
1.	Artificial Intelligence & Expert System lab<br>
2.	Network programming lab<br>
3.	Minor projects<br>
4.	Seminar & report writing<br>
5.	Practical training
<br></p>






<p><B style="font-size:18px;"><U><b>VIII  SEMESTER:</b></u></B><br>
Subject covered under this semester:<br>
<b><u>Software Project Management:</u></b> Software project management is the art and science of planning and leading software projects.[1] It is a sub-discipline of project management in which software projects are planned, implemented, monitored and controlled.<br>
 <b><u> Data Mining & Ware Housing:</u></b> Collections of databases that work together are called data warehouses. This makes it possible to integrate data from multiple databases. Data mining is used to help individuals and organizations make better decisions.<br>
<b><u>Elective-III & Elective-IV:</u></b>It includes cellular and mobile computing,decision support systems,text mining,distributed computing and also some flexible topics as per given by the subjest teacher.<br>
	</p><p><B><U>Labs included in this semester:</u></B><br>
1.Software Project Management(Lab)<br>
2.Data Mining & Ware Housing(Lab)<br>

3.Major Project  <br>

 4.Discipline<br>

</p>

<P><b style="font-size:16px;">Download Syllabus:</B><br>
<a href="             http://nitrr.ac.in/syllabus.php"><button type="button" class="btn btn-default" STYLE="COLOR:WHITE;BACKGROUND:#1c2d3f;">SYLLABUS</button></A></p>

							<br><br><br>	<br><br><br>


							</div>
						</div>
						
					</div>
					<div class="bb-item" id="item2">
						<div class="content">
							<div class="scroller">
								<h2>BTECH EVALUATION</h2>
								<p> There are total eight semesters in a 4-year B.tech (CSE) course,with each year consisting of two semesters.Each semester consists of:<BR>
<B><u>a.)CT's(class test):</u></b>Each semester consists of  two class tests,CT-1 and CT-2        each of 15 marks.<br>
<B><u>b.)TA(Teacher's Assesment):</u></b>Each subject has a TA weightage of 20 marks.Some teachers prefer viva session for the allotment of marks while others prefer attendance and assignment submission as their marks allotment basis.<br>
<B><u>c.)PRACTICAL EXAM:</u></b>Number of practical subjects that a student has to learn ,varies from year to year. Practical exam of each subject has a weightage of  30 marks.Practical exam is conducted once in a semester,after the semester examination.It consists of theory,viva and practical.<br>
<B><u>d.)END SEM EXAM:</u></b>It has a weightage of 70 marks per subject,in which passing marks  are 25 per subject.Again,the number of subjects that a student has to prepare for session ending varies from year to year.It is conducted once in a semester.<br>
</p>
	<br><br><br>	<br><br><br>
									</div>
						</div>
					</div>
				
					<div class="bb-item" id="item3">
						<div class="content">
							<div class="scroller">
								<h2>ACADEMIC CALENDER</h2>
								<p>
								<img class="img-responsive" src="/static/img\calender.png"/>
								</p>
	<br><br><br>	<br><br><br>
									
							</div>
						</div>
					</div>
						<div class="bb-item" id="item4">
						<div class="content">
							<div class="scroller">
								<h2>PROJECT</h2>

													
	{{project_string|safe}}


							</div>
						</div>
					</div>
					
				</div>
				
				<nav>
					<span id="bb-nav-prev">&larr;</span>
					<span id="bb-nav-next">&rarr;</span>
				</nav>

				<span id="tblcontents" class="menu-button">Table of Contents</span>

			</div>
				
		</div><!-- /container -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="/static/js/jquery.mousewheel academics.js"></script>
		<script src="/static/js/jquery.jscrollpane.min academics.js"></script>
		<script src="/static/js/jquerypp.custom academics.js"></script>
		<script src="/static/js/jquery.bookblock academics.js"></script>
		<script src="/static/js/page academics.js"></script>
		<script>
			$(function() {

				Page.init();

			});
		</script>
		

		{% endblock content %}
{% include "base_foot.html" %}  
				
	</body>
</html>
