<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ACE</title>

 
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->
		<link rel="stylesheet" type="text/css" href="/static/css/default activity.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/component activity.css" />
		<script src="/static/js/modernizr.custom activity.js"></script>

   
</head>

<body style="background-color:#f6f6f6;">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"style="background:#1c2d3f;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html" style="color:white;font-size:30px;">ACE</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="float:right;" >
               <ul class="nav navbar-nav" >
                    <li>
                        <a href="/home/" >HOME</a>
                    </li>
                    <li>
                        <a href="academics.html" >ACADEMICS</a>
                    </li>
                    <li>
                        <a href="achievements.html">ACHIEVEMENT</a>
                    </li>
					<li>
                        <a href="/announcement/" >ACTIVITIES</a>
                    </li><li>
                        <a href="faculty.html" >ADMINISTRATION</a>
                    </li>
					<li>
                        <a href="login.html" >LOGIN</a>
                    </li>
									
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav><br><br><br><br><h1 style="text-align:center;color:black;"><b>ACTIVITIES</b></H1><HR>
 
		<div class="container">
			
			<div class="main" >
				<ul class="cbp_tmtimeline">
					<!-- <li>
						<time class="cbp_tmtime" datetime="2017-25-02 11:00"><span style="color:black;"><b></b></span> <span STYLE="FONT-SIZE:20PX;color:#1c2d3f">CO-CURRICULAR</span></time>
						<div class="cbp_tmicon cbp_tmicon-phone"></div>
						<div class="cbp_tmlabel" style="background:#1c2d3f;">
							<h2>Interview Session</h2>
							<p >Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Pea sprouts wattle seed rutabaga okra yarrow cress avocado grape radish bush tomato ricebean black-eyed pea maize eggplant. Cabbage lentil cucumber chickpea sorrel gram garbanzo plantain lotus root bok choy squash cress potato summer purslane salsify fennel horseradish dulse. Winter purslane garbanzo artichoke broccoli lentil corn okra silver beet celery quandong. Plantain salad beetroot bunya nuts black-eyed pea collard greens radish water spinach gourd chicory prairie turnip avocado sierra leone bologi.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2017-26-02 11:00"><span style="color:black;"><b></b></span> <span STYLE="FONT-SIZE:20PX;color:#1c2d3f">TRAINING-PLACEMENT</span></time>
						<div class="cbp_tmicon cbp_tmicon-screen"></div>
						<div class="cbp_tmlabel" style="background:#1c2d3f;">
							<h2>Placement Session</h2>
							<p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.</p>
						</div>
					</li>
					<li>
						<time class="cbp_tmtime" datetime="2017-26-02 11:00"><span style="color:black;"><b></b></span> <span STYLE="FONT-SIZE:20PX;color:#1c2d3f">ACADEMIC ACTIVITIES</span></time>
						<div class="cbp_tmicon cbp_tmicon-screen" ></div>
						<div class="cbp_tmlabel" style="background:#1c2d3f;">
							<h2>Placement Session</h2>
							<p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot winter purslane collard greens spring onion squash lentil. Artichoke salad bamboo shoot black-eyed pea brussels sprout garlic kohlrabi.</p>
						</div>
					</li> -->
					{{announcement_string|safe}}
				</ul>
			</div>
		</div>
	<br><br><br>
	 <nav class="navbar navbar-inverse navbar-fixed-bottom" style="height:18px;">
  <div class="container-fluid">
    <div class="navbar-header">
   
    </div><p style="color:white;text-align:center;font-size:14px;padding-top:1%;">
    &COPY 2017 ACE &#9898 ALL RIGHTS RESERVED  DESIGNED & DEVELOPED BY WEBTEAM - ACE</p>
  </div>
</nav>
</body>

</html>
