 <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"style="background:#1c2d3f;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
     <a class="navbar-brand" href="/" style="color:white;font-size:30px;position:absolute;left:7%;">ACE</a>
            </div>
          <style type="text/css">  
            .dropbtn {
    background-color:  #1c2d3f;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

/*.dropdown:hover .dropbtn {*/
    /*background-color: #3e8e41;*/
}
</style>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1" >
            
               <ul class="nav navbar-nav" >
                    <li>
                        <a href="/" >HOME</a>
                    </li>
                    <li>
                        <a href="/academics/" >ACADEMICS</a>
                    </li>
                    <li>
                        <a href="/achievements">ACHIEVEMENT</a>
                    </li>
					<li>
                        <a href="/announcement/" >ACTIVITIES</a>
                    </li><li>
                        <a href="/administration/" >ADMINISTRATION</a>
                    </li>
                    <li id="profile">
                    </li>
					<li>
                        {{link2|safe}}
                    </li>
					
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>