 <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"style="background:#1c2d3f;">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
     <a class="navbar-brand" href="index.html" style="color:white;font-size:30px;position:absolute;left:7%;">ACE</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="float:right;" >
               <ul class="nav navbar-nav" >
                    <li>
                        <a href="/" >HOME</a>
                    </li>
                    <li>
                        <a href="/academics/" >ACADEMICS</a>
                    </li>
                    <li>
                        <a href="/achievements">ACHIEVEMENT</a>
                    </li>
					<li>
                        <a href="/announcement/" >ACTIVITIES</a>
                    </li><li>
                        <a href="/administration/" >ADMINISTRATION</a>
                    </li>
					<li>
                        <a href="/login/">LOGIN</a>
                    </li>
					
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>