<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
 <title>ACE</title>

  
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Custom CSS -->

       
      
<link rel="stylesheet" href="/static/css/login style1.css">
  <link rel="stylesheet" href="/static/css/login reset.css"> <!-- CSS reset -->
  <link rel="stylesheet" href="/static/css/login style.css"> <!-- Resource style -->
  <script src="/static/js/login modernizr.js"></script> <!-- Modernizr -->
  <script src="/static/js/getprofile.js"></script>
</head>
<body style="background:#f6f6f6;">
   
 {% include "base_head.html" %}
{% block content %}

  <br><br>
  <form class="cd-form floating-labels" action="." enctype="multipart/form-data"  method="POST">
    <fieldset>
      <legend>Search</legend>
         <div class="icon">
         <input class="user" type="radio" id="cd-name"  name='key' value='0' checked><label class="cd-labe" for="cd-name" style="padding:10px;">Roll No</label>
           <input class="user" type="radio" id="cd-name" name='key' value='1'><label class="cd-labe" for="cd-name" style="padding:10px;"> Name</label> 
         <input class="user" type="radio" id="cd-name2" name='key' value='2'><label class="cd-labe" for="cd-name2" style="padding:10px;"> {{keyword|safe}}</label>
        </div> 
  <!-- <div class="icon">
         
         </div>
          <div class="icon">
        
         </div> -->

      <div class="icon">
      	 <label class="cd-label" for="cd-name">Enter the KeyWord according  to your search choice above</label>
         <input class="user" type="text" id="cd-name" name='value' required>
        </div> 

        
      {{msg|safe}}
    

<button type="submit" class="btn btn-info" style="float:right;"><b>Submit</b></button>
        </div>
          
    </fieldset>
  </form>
<script src="/static/js/login jquery-2.1.1.js"></script>
<script src="/static/js/login main.js"></script> <!-- Resource jQuery -->

{% endblock content %}
{% include "base_foot.html" %}  
</body>
</html>