<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>ACE</title>
            <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css" media="all" /> 
    <link rel="stylesheet" type="text/css" href="/static/css/resume.css" media="all" />
    <script src="/static/js/getprofile.js"></script>
        <!-- Latest compiled and minified CSS -->

<!-- jQuery library -->

<!-- Latest compiled JavaScript -->
</head>
<body>

{% include "base_head.html" %}
{% block content %}

{{msg|safe}}
<div id="doc2" class="yui-t7">
    <div id="inner">
    <div class="row">
    <div class="col-sm-3" >
    <img class="img-responsive" {{photo|safe}}/>
      </div>
        <div id="hd">
            <div class="yui-gc">
                <div class="yui-u first">
                    <h1>{{name|safe}}</h1>
                    <h2>Batch : {{batch|safe}}</h2>
                </div>

                <div class="yui-u">
                    <div class="contact-info">
                        {{edit|safe}}
                        {{ping|safe}}
                        <h3><a href="{{github_url|safe}}">Github url</a></h3>
                            <h3><a href="{{linkedin_url|safe}}">Linkedin url</a></h3>
                <!--        <h3><a id="pdf" href="#">Download PDF</a></h3>
                        <h3><a href="mailto:name@yourdomain.com">name@yourdomain.com</a></h3>
                        <h3>(313) - 867-5309</h3> -->
                    </div><!--// .contact-info -->
                </div>
            </div><!--// .yui-gc -->
        </div><!--// hd -->
        <div class="yui-gf">
                        <div class="yui-u first">
                            <h2>Current Status </h2>
                        </div>
                        <div class="yui-u">
                            <p class="enlarge">
                                Status : {{current_status|safe}} <br>
                                Company Institue : {{company_institue|safe}}<br>
                                Designation : {{designation|safe}}
                            </p>
                        </div>
                    </div><!--// .yui-gf -->

        <div id="bd">
            <div id="yui-main">
                <div class="yui-b">
                  {{other|safe}}
                </div><!--// .yui-b -->
            </div><!--// yui-main -->
        </div><!--// bd -->


    </div><!-- // inner -->


</div><!--// doc -->

{% endblock content %}
{% include "base_foot.html" %}  
</body>
    </html>
