<!doctype html>
<html>
<head>
	<title>
		profile
	</title>
</head>
<body >
	{{photo|safe}}
	alumni_id= {{login_id|safe}}
	name= {{name|safe}}
	designation= {{designation|safe}}
	mobile= {{mobile|safe}}
	email id={{email|safe}}
	education= {{education|safe}}
	current_status={{current_status|safe}}
	company_institue={{company_institue|safe}}
	skill={{skill|safe}}
	linkedin_url={{linkedin_url|safe}}
	github_url={{github_url|safe}}
	

	area_of_interest= {{area_of_interest|safe}}
	<br><br><br>

	{{other|safe}}
	<br><br>
	{{edit|safe}}
</body>

</html>