<!doctype html>
<html>
<head>
	<title>
		profile
	</title>
</head>
<body >
	{{photo|safe}}
	roll_no= {{login_id|safe}}
	name= {{name|safe}}
	semester= {{sem|safe}}
	mobile= {{mobile|safe}}
	email id={{email|safe}}
	github url= {{github_url|safe}}
	linkedin url= {{linkedin_url|safe}}
	<br><br>
	{{edit|safe}}
skills=<p id='demo'></p>
 <script>
 window.onload = function() {
  myFunction();
};
function myFunction() {
	// document.getElementById("demo").innerHTML = skills;

    var str ='{{skill|escapejs}}' ;
    var res = str.split("&");
    document.getElementById("demo").innerHTML = res;
}
</script>
</body>

</html>