<!doctype html>
<html>
<head>
	<title>
		Signup_faculty
</title>
</head>
<body>
	<form action="/signup_faculty/" enctype="multipart/form-data"  method="POST">
		<input type='text' name='roll_no' value={{login_id|safe}} readonly="readonly">
		<input type='text' placeholder='designation' name='designation'>
		<input type='text' placeholder='education' name='education'>
		<input type='text' placeholder='area_of_interest' name='area_of_interest'>
		<input type='text' placeholder='other_details' name='other_details'>
		<input type='password' placeholder='password' name='password'>
		<input type="submit">
	</form>
	{{msg|safe}}
</body>
</html>